html,body {
  position: relative;
  width: 100%;
  height: 4321px;
  overflow-x: hidden;
  background: #FAFAFA;
}
div{
  display: inline;
}

.top-right-name{
  position: absolute;
  width: 5%; /*113*/
  height: 0.8%; /*36*/
  left: 92%;
  top: 0.5%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.logo{
  position: absolute;
  width: 144.36px;
  height: 174.46px;
  left: 24%;
  top: 8.7%;
}
.background-logo{
  position: absolute;
  width: 752px;
  height: 246px;
  left: 32%;
  top: 7%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 242px;
}
.KessDB1,.KessDB2 {
  position: absolute;
  width: 1232px;
  height: 242px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 242px;
  /* identical to box height */
  color:#F1F1F2;
  text-align: right;
  letter-spacing: 0.48em;
}
.KessDB1{
  left: 5%;
  top: 2%;
  animation: slide1 2s;
}
.KessDB2{
  right: -1.5%;
  top: 12%;
  padding: 0;
  animation: slide2 1.5s;
}
@keyframes slide1 {
  from {
    left: -5%;
  }

  to {
    left: 5%;
  }
}
@keyframes slide2 {
  from {
    right: -24%;
  }

  to {
    right: -1.5%;  
  }
}
.korea,.speed,.easy,.socket {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.1em;

  color: #F1F1F2;

}
.korea{
  position: absolute;
  width: 87px;
  height: 42px;
  left: 13%;
  top: 6%;
}
.speed{
  position: absolute;
  width: 97px;
  height: 42px;
  left: 35.6%;
  top: 5.9%;
}
.easy{
  position: absolute;
  width: 68px;
  height: 42px;
  left: 48%;
  top: 15.9%;
}
.socket{
  position: absolute;
  width: 111px;
  height: 42px;
  left: 70.5%;
  top: 15.9%;
  
}
.group {
  position: absolute;
  width: 24px;
  height: 12px;
  left: 2%;
  top: 0.8%;
}
.group-page{
  display: block;
  position: fixed;
  width: 374px;
  height: 1080px;
  left: -2%;
  top: -0.8%;
  animation: slide_group 0.5s;
  background: #FFFFFF;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}
@keyframes slide_group{
  from{
    left: -2% + 374px;
  }
  to{
    left: -2%;
  }
}
.close {
  position: absolute;
  width: 71px;
  height: 24px;
  left: 83px;
  top: 50px;
}
.home{
  position: absolute;
width: 58px;
height: 24px;
left: 100px;
top: 282px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;

color: #000000;
}
.service{
  position: absolute;
  width: 73px;
  height: 24px;
  left: 100px;
  top: 344px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  
  color: #D0D0D7;
}
.tutorial{
  position: absolute;
  width: 74px;
  height: 24px;
  left: 100px;
  top: 406px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  
  color: #D0D0D7;
  
} 
.qa{
  position: absolute;
  width: 44px;
  height: 24px;
  left: 100px;
  top: 468px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  
  color: #D0D0D7;
}
.scroll,.scroll2,.scroll3{
  position: absolute;
  width: 51px;
  height: 34px;
  left: 49%;
}
.scroll{
  top: 17%;
}
.service_text{
  position: absolute;
width: 298px;
height: 97px;
left: 5%; /*100px*/
top: 30%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 97px;
/* identical to box height */


color: #000000;
}
.long_text {
  position: absolute;
  width: 550px;
  height: 96px;
  left: 5%;
  top: 32.3%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}
.img{
  position: absolute;
  width: 468px;
  height: 221px;
  left: 5%;
  top: 35.5%;
}
.second_logo{
  position: absolute;
  width: 89px;
  height: 107.56px;
  left: 70%;
  top: 32.3%;
}
.second_KessDB{
  position: absolute;
  width: 245px;
  height: 79px;
  left: 66%;
  top: 34%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  /* identical to box height */


  color: #000000;
}
.second_text{
  position: absolute;
  width: 27.5%;
  height: 24px;
  left: 60%;
  top: 36%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}
.letssee{
  position: absolute;
  width: 654px;
  height: 24px;
  left: 69%;
  top: 39%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}
.second_btn{
  position: absolute;
  width: 167px;
  height: 48px;
  left: 67.8%;
  top: 40%;

  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: none;
}
.scroll2{
  top: 44.8%;
}
.KessDB3, .KessDB4, .KessDB5{
  position: absolute;
  width: 752px;
  height: 246px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 242px;
  color: #F1F1F2;
  transform: rotate(-90deg);
}
.KessDB3{
  right: -19%;
  top: 36%;
}
.KessDB4{
  left: -19%;
  top: 60%;
}
.KessDB5{
  right: -19%;
  top: 85%;
}
.peopleimg{
  position: absolute;
  width: 684px;
  height: 684px;
  top: 54%;
  left: 15%;
}
.Tutorial_tap{
  position: absolute;
  width: 300px;
  height: 97px;
  left: 70%;
  top: 54%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  /* identical to box height */

  text-align: right;

  color: #000000;
}
.kessbook{
  position: absolute;
  width: 129px;
  height: 33px;
  left: 79.9%;
  top: 58%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  /* identical to box height */

  text-align: right;

  color: #000000;
}
.tutorial_text{
  position: absolute;
  width: 555px;
  height: 48px;
  left: 54.8%;
  top: 59%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;

  color: #000000;
}
.tutorial_start{
  position: absolute;
width: 367px;
height: 54px;
left: 68.4%;
top: 62%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 54px;

color: #000000;
}
.styleTuBtn{
  position:absolute;  
  width: 167px;
  height: 48px;
  left: 78%;
  top: 65%;

  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: none;

}
.scroll3{
  top: 70.7%;
}
.qanda{
  position: absolute;
  width: 530px;
  height: 530px;
  top: 82%;
  left: 45%;
}
.qna{
  position: absolute;
  width: 177px;
  height: 97px;
  left: 8%;
  top: 85%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  /* identical to box height */


  color: #000000;
}
.qna_text{
  position: absolute;
  width: 354px;
  height: 48px;
  left: 8%;
  top: 89%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}
.qna_text2 {
  position: absolute;
width: 254px;
height: 38px;
left: 8%;
top: 91.5%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.qna_btn {
  position: absolute;
  width: 167px;
  height: 48px;
  left: 8%;
  top: 95%;

  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: none;

}